/* reset */
p {
    margin-bottom: 0;
}


/* style */
.container {
    max-width: 800px;
    height: 100vh;
}

.counter-display {
    width: 800px;
    height: 100px;
}

.counter-number {
    font-size: 96px;
}

.counter-button {
    padding: 10px 100px;
}
