/* reset */
p {
    margin-bottom: 0;
}

/* style */
.container {
    max-width: 800px;
    height: 100vh;

    @media screen and (max-width: 1024px) {
        width: 90%;
    }
}

.spbr {
    display:none;

    @media screen and (max-width: 1024px) {
        display:inline;
    }
}

.counter-display {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.counter-number {
    font-size: 96px;
}

.col {
    margin-left: 10px;

    @media screen and (max-width: 1024px) {
        margin-left: 0;
    }

    &:first-child {
        margin-left: 0;
    }
}

.main-buttons {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 30px;

    &__item {
        display: flex;
        align-items: center;
        height: 45px;
        padding: 10px 10px;
    }
}

.color-picker {
    background-color: #fff;
    margin-left: 5px;
}

.font-selector {
    background-color: #fff;
    padding: 5px;
    height: auto;
    width: auto;
    margin-bottom: 0;
    margin-left: 5px;
}

.header {
    margin: 5px 0 50px;

    @media screen and (max-width: 1024px) {
        margin: 5px 0 20px;
    }

    &__text {
        font-weight: 200;
    }
}

.footer {
    margin-bottom: 5px;
}

.site-description {
    padding: 10px;
    width: 100%;
    color: #363636;
    background-color: #f4ffe4;
    margin-bottom: 30px;

    &__title {
        font-weight: 300;
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.not-found {
    font-weight: 200;
}
