/* reset */
p {
    margin-bottom: 0;
}

/* style */
.container {
    max-width: 800px;
    height: 100vh;
    padding-top: 15px;

    @media screen and (max-width: 768px) {
        width: 90%;
        padding-top: 10px;
    }
}

.spbr {
    display: none;

    @media screen and (max-width: 768px) {
        display: inline;
    }
}

.counter-number {
    font-size: 96px;

    &__stroke {
        stroke: #fff;
        stroke-width: 16px;
        paint-order: stroke;
        stroke-linejoin: round;
        letter-spacing: 12px;
    }
}

.col {
    margin-left: 10px;

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }

    &:first-child {
        margin-left: 0;
    }
}

.main-buttons {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 30px;

    &__item {
        display: flex;
        align-items: center;
        height: 45px;
        padding: 10px 10px;
    }
}

.color-picker {
    background-color: #fff;
    margin-left: 5px;
}

.font-selector {
    background-color: #fff;
    padding: 5px;
    height: auto;
    width: auto;
    margin-bottom: 0;
    margin-left: 5px;
}

.use-border-checkbox {
    height: 21px;
    width: 21px;
    margin-left: 5px;
}

.header {
    margin: 0 0 50px;

    @media screen and (max-width: 768px) {
        margin: 0 0 20px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 200;
        font-size: 56px;

        @media screen and (max-width: 768px) {
            font-weight: 300;
            line-height: 0.9;
            font-size: 42px;
            margin-bottom: 0;
        }
    }
}

.footer {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
}

.site-description {
    padding: 10px;
    width: 100%;
    color: #363636;
    background-color: #f4ffe4;
    margin-bottom: 30px;

    &__title {
        font-weight: 300;
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.not-found {
    font-weight: 200;
}
